@model MinesweeperWebpage.Models.MinesweeperModel

@{
    ViewBag.Title = "Game";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<table class="table table-striped table-bordered table-sm" style="width: 100%">
    @{

        for (var row = 0; row < Model.GetROW(); row++)
        {
            <tr>
                @{
                    for (int col = 0; col < Model.GetCOL(); col++)
                    {
                        <td class="bg-secondary" style="width: 30%">
                            @Html.ActionLink(!Model.GetBoard()[row, col].Visible ? "_" :
                           Model.CountNeighbors(row, col).ToString(),
                                 "GameMove",
                                 new { x = row, y = col })
                        </td>
                    }
                }
            </tr>
        }
    }

</table>